
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin:0;
    padding:0; 
    box-sizing: border-box;
}

body{
    background-color: var(--background);
}

:root {
    --laranja-principal: #FD9649;
    --azul-principal: #04188B;
    --background: #E4E4E4;
    --white-02: #FFFFFF;
    --black-01: #000000;
    --font-family: 'Poppins';
    --altura-container: 80vh;
}

html{
    scroll-behavior: smooth;
}


.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    position: fixed;
    z-index: 1;
    top:0;
    left: 0;
    right: 0;
    width: 100%;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--laranja-principal);
    height: 6vh;
    font-family: var(--font-family);
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    background: rgb(240, 240, 240);
}


ul{
    list-style:none;
    display: flex; 
}

.Lista_nav li{
    letter-spacing: 2px;
    margin-left: 30px;
    font-size: 15px;
}

h1{
    font-size: 90px;
}

.matricular a {
    background: rgb(9, 1, 121);
    padding: 0.5rem 1.5rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

h2{
    text-align: justify;
    padding-top: 10px;
    font-weight: 100;
}

button{
    background: rgb(255, 153, 0);
    color: white;
    border: 2px solid transparent;
    font-family: poppins;
    padding: 15px;
    border-radius: 25px;
    Cursor: pointer;
    margin-top: 8vh;
    transition: .2s ease-out;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    border: 2px solid white;
    box-shadow: none;
    background: none;
}

#home img{
    width: 100%;
    height: var(--altura-container);
}

#modalidades{
    width: 1920px;
    height: 980px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container-modal{
    font-family: var(--font-family);
    height: var(--altura-container);
}

.info-titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.info-titulo h1 {
    color: var(--azul-principal);
    margin: 0; 
    padding: 0; 
    font-size: 60px;
    line-height: 1.2; 
}

.info-titulo h1 span {
    color: var(--laranja-principal);
}

.info-titulo h2 {
    color: var(--black-01);
    text-align: center;
    font-size: 22px;
    line-height: 1;
    padding: 0; 
}

a{
    color: var(--white-02);
    text-decoration: none;
    transition: .2s;
}

a:hover{
    opacity: 0.7;
}

.info-modal {
    display: flex;
    gap: 100px;
    margin-top: 50px;
    font-size: 15px;
}

.info-modal a{
    height: 50vh;
}

.bloco_ch{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    width: 17vw;
    height: 50vh;
    border-radius: 8px;
    font-size: 40px;
    font-weight: bold;
    writing-mode: vertical-lr;
    background:var(--laranja-principal);
    color: var(--white-02);
    transition: .2s ease-in-out;
}

.bloco_ch img{
    opacity: 0.4;
    position: absolute;
    object-fit: cover;
    width: 100%;
    height:100%;
}

.content_4{
    position: relative;
    color: var(--black-01)
    display: flex;
    justify-content:center;
    align-items: center;
    
    height: 90vh;
    background: rgb(216, 215, 215);
}

.img{
    position: absolute;
}

.content_4 h1,h2{
    font-size: 20px;
}

.info_esq {
display: flex;
align-items: center;
position: absolute;
left: 11rem;
}

.info_esq span h1{
    font-size: 80px;
    padding-left: 20px;
    line-height: 70px;
}

.serviços_dir{
position: absolute;
right: 20px;
}

.serviços_dir h1{
    font-size: 17px;
    padding-top: 40px;
}

.serviços_dir h2{
    font-size:16px;
}

.exercicio{
    display: flex;
    flex-direction: column;
}

.avali_tec{ 
    
    margin-left: -100px;;
    
}
