
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');


*{
    margin:0;
    padding:0; 
}

html{
    scroll-behavior: smooth;
}

a{
    color: rgb(253, 253, 253);
    text-decoration: none;
    transition: .2s;
    
}

a:hover{
    opacity: 0.7;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    position: absolute;
    z-index:1;
    top:0;
    right: 0;
    width: 100vw;
    padding: 10px;
    display: flex;
    justify-content:space-around;
    align-items: center;
    font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: rgba(255, 153, 0, 0.767);
    height: 7vh;
    bottom: 50px;
}

.content{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    background: no-repeat;
    background: rgb(240, 240, 240);
}

.content_text img{
    padding: 40px 0px 0px 0px;
    width: 100%;
}

ul{
   list-style:none;
   display: flex; 
}

.Lista_nav li{
    letter-spacing: 2px;
    margin-left: 30px;
    font-size: 15px;
}

h1{
    font-size: 90px;
}

span a {
    background: rgb(9, 1, 121);
    padding: 0.5rem;
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

h2{
    text-align: justify;
    padding-top: 10px;
    font-weight: 100;
}

button{
    background: rgb(255, 153, 0);
    color: white;
    border: 2px solid transparent;
    font-family: poppins;
    padding: 15px;
    border-radius: 25px;
    Cursor: pointer;
    margin-top: 8vh;
    transition: .2s ease-out;
    font-size: 15px;
    font-weight: 600;
}

button:hover{
    border: 2px solid white;
    box-shadow: none;
    background: none;
}


.content_2{
    text-align: center;
    position: relative;
    background: rgb(248, 248, 248);
    font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.titulo{
    padding-top: 40px;
    color:rgb(9, 1, 121);
    font-weight: bold;
    font-size: 55px;
}

.titulo span {
    color:rgb(255, 153, 0);
}

.content_2 h2{
    color: black;
    text-align: center;
    font-size: 22px;

}

.bloco_2 {
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 15px;
    font-weight: 100;
    justify-content: space-around;
}

.bloco_2 img{
    height: 40vh;
}

.bloco_ch{
    position: relative;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    writing-mode:vertical-lr;
    margin-top: 60px;
    margin-bottom: 30px;
    color: white;
    font-weight: bold;
    background:#FD9649CC;
    width: 20vw;
    height: 70vh;
    border-radius: 8px;
    transition: .2s ease-in-out;
}

.bloco_ch img{
    opacity: 0.6;
    position: absolute;
    width: 100%;
    height:100%;
}


.content_4{
    position: relative;
    color: black;
    display: flex;
    justify-content:center ;
    align-items: center;
    font-family: poppins, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    height: 600px;
    background: rgb(216, 215, 215);
}

.exercicio{
    display: flex;
}

.exercicio img {
   width: 20%;
}

.img {
    width: 40%;
    position: absolute;
}

.content_4 h1,h2{ 
    font-size: 20px;            
}


.content_4 span h1{
    line-height:70px;
    font-size: 80px;
}
