@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

:root{
    --poppins-medium: 500;
    --poppins-large: 600;
    --poppins-exlarge: 700;
    --apollo-orange: #FD9649;
    --apollo-blue: #04188B;
    --apollo-white: #ffffff;
}

body {
padding: 0px;
margin: 0px;
width: 100vw;
height: 100vh;
background: #E4E4E4;
font-family: 'Poppins';
}

.section-navbar{
width: 100%;
display: flex;
position: fixed;
top: 0;
left: 0;
z-index: 1000;
padding: 15px 0px;
background-color: var(--apollo-orange);
height: 200px;
align-items: center;
}

.section-navbar span{
    color: var(--apollo-white);
}

.container-navbar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    height: 100px;
}

.left-navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 50%;
    height: 230px;
}

.apollo-icon{
    position: absolute;
    width: 1700px;
    height: 170px;
    left: 120px;
    top: 30px;
}

img{
    width: 170px;
    height: 170px;
}

.right-navbar{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    align-items: center;
    width: 50%;
    height: 100px;
}

.button-matricula{
    display: flex;
    font-size: 40px;
    padding: 3px 0px;
    width: 400px;
    height: 100px;
    align-items: center;
}

.right-navbar .matricula{
    background-color: var(--apollo-blue);
    width: 400px;
    font-size: 40px;
    color: var(--apollo-white);
    padding: 10px 20px;
    height: 100px;
    border-radius: 10px;
    font-family: 'Poppins';
}

.buttons-outros{
display: flex;
align-items: center;
text-align: center;
font-size: 40px;
padding: 0px 200px 0px 100px;
gap: 10px;
height: 100px;
}

.sobre-nos{
width: 200px;
height:60px;
}

.contato{
width: 200px;
height: 60px;
}

.espaco-cliente{
width: 400px;
height: 60px;
}

#home{
display: flex;
flex-direction: row;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 10px;
width: 1920px;
height: 810px;
}

/* container-home */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 1920px;
height: 810px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* background */

width: 1920px;
height: 810px;

background: url(Untitled Project (1).jpg);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* section-modalidade */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 20px 0px 0px;
isolation: isolate;

width: 1920px;
height: 810px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 2 */

position: absolute;
width: 1406px;
height: 1208px;
left: -3px;
top: -32px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 2 */

position: absolute;
width: 1453.21px;
height: 399.27px;
left: -238.7px;
top: 896.72px;

background: rgba(216, 216, 216, 0.53);
transform: rotate(-53.16deg);


/* container-modalidade */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 15px;

width: 1920px;
height: 760px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;
z-index: 1;


/* Frame 7 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 50px 0px 0px 10px;
gap: 60px;

width: 1890px;
height: 760px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* Frame 9 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 5px;

width: 1217px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* h2 */

width: 1217px;
height: 70px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;
text-align: center;

/* blue */
color: #04188B;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* h4 */

width: 990px;
height: 26px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 25px;
line-height: 38px;
display: flex;
align-items: center;
text-align: center;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 8 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px 10px;
gap: 100px;
isolation: isolate;

width: 1600px;
height: 600px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* pilates-image */

width: 250px;
height: 600px;

background: rgba(253, 150, 73, 0.8);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* musculacao-image */

width: 250px;
height: 600px;

background: url(musculacao.jpg);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Musculação */

position: absolute;
width: 487px;
height: 76px;
left: 587px;
top: 516px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* ritmos-image */

width: 250px;
height: 600px;

background: url(ritmos.jpg);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* funcional-image */

width: 250px;
height: 600px;

background: rgba(253, 150, 73, 0.8);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;
z-index: 4;


/* Ritimos */

position: absolute;
width: 240px;
height: 76px;
left: 937px;
top: 409px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 5;
flex-grow: 0;
z-index: 5;


/* Pilates */

position: absolute;
width: 487px;
height: 76px;
left: 237px;
top: 532px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 6;
flex-grow: 0;
z-index: 6;


/* Funcional */

position: absolute;
width: 487px;
height: 76px;
left: 1287px;
top: 532px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;
text-align: center;

color: #FFFFFF;

transform: rotate(-90deg);

/* Inside auto layout */
flex: none;
order: 7;
flex-grow: 0;
z-index: 7;


/* section-servicos */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 10px;
gap: 10px;
isolation: isolate;

width: 1920px;
height: 810px;


/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;


/* Frame 1 */

position: absolute;
width: 1406px;
height: 1208px;
left: 518px;
top: 111px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Rectangle 2 */

position: absolute;
width: 993px;
height: 716px;
left: 412.1px;
top: 0px;

background: rgba(216, 216, 216, 0.53);


/* Rectangle 2 */

position: absolute;
width: 366.46px;
height: 814.49px;
left: 397.94px;
top: -17px;

background: rgba(216, 216, 216, 0.53);
transform: rotate(29.25deg);


/* container-servicos */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
padding: 0px;
gap: 10px;
isolation: isolate;

width: 1750px;
height: 790px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;
z-index: 1;


/* cara treinando 1 */

position: absolute;
width: 463px;
height: 458px;
left: 598px;
top: 178px;

background: url(cara treinando.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* esquerdo-servico */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 30px;
isolation: isolate;

margin: 0 auto;
width: 875px;
height: 790px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* Rectangle 1 */

position: absolute;
width: 184px;
height: 93px;
left: 377px;
top: 314px;

/* apollo-orange */
background: #FD9649;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Temos os melhores serviços para você. */

width: 131px;
height: 126px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 22px;
line-height: 33px;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Servi ços */

width: 241px;
height: 254px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 110px;
line-height: 90px;
/* or 82% */
text-transform: uppercase;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* direito-servico */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

margin: 0 auto;
width: 875px;
height: 790px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 1;
z-index: 2;


/* Frame 1 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-end;
padding: 0px;

width: 600px;
height: 400px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 600px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Rope */

width: 100px;
height: 100px;

background: url(.png);
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 324px;
height: 73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Programa pessoal de exercícios */

width: 258px;
height: 24px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* --- */

width: 29px;
height: 18px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: rgba(0, 0, 0, 0.44);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Lorem Ipsum has been the industry's standard dummy text ever since the 1500s */

width: 324px;
height: 31px;

/* poppins-light */
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

color: rgba(19, 19, 19, 0.66);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 10px;

width: 600px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sewing Tape Measure */

width: 100px;
height: 100px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 324px;
height: 73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Avaliação Técnica e Física */

width: 213px;
height: 24px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* --- */

width: 29px;
height: 18px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: rgba(0, 0, 0, 0.44);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Lorem Ipsum has been the industry's standard dummy text ever since the 1500s */

width: 324px;
height: 31px;

/* poppins-light */
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

color: rgba(19, 19, 19, 0.66);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 21 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: flex-end;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 600px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Fitness */

width: 100px;
height: 100px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 22 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 324px;
height: 73px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Programa pessoal de exercícios */

width: 258px;
height: 24px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* --- */

width: 29px;
height: 18px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;

color: rgba(0, 0, 0, 0.44);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Lorem Ipsum has been the industry's standard dummy text ever since the 1500s */

width: 324px;
height: 31px;

/* poppins-light */
font-family: 'Poppins';
font-style: normal;
font-weight: 300;
font-size: 12px;
line-height: 18px;
display: flex;
align-items: center;

color: rgba(19, 19, 19, 0.66);


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* section-localidade */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 30px;

width: 1920px;
height: 810px;


/* Inside auto layout */
flex: none;
order: 4;
align-self: stretch;
flex-grow: 0;


/* container-localidade */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 1860px;
height: 750px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 1;


/* esquerdo-localidade */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px 0px 0px 10px;
gap: 30px;
isolation: isolate;

width: 866px;
height: 784px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Arrow */

position: absolute;
width: 50px;
height: 50px;
left: 816px;
top: 650px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Arrow */

position: absolute;
width: 50px;
height: 50px;
left: 106px;
top: 650px;

background: url(.png);
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Frame 19 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: flex-start;
padding: 0px;
gap: 15px;

width: 856px;
height: 135px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;
z-index: 2;


/* Academia Confortável */

width: 827px;
height: 48px;

/* poppins-exlarge */
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 61px;
line-height: 92px;
display: flex;
align-items: center;

/* apollo-orange */
color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. */

width: 856px;
height: 72px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
display: flex;
align-items: center;

/* black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 20 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 10px;

width: 856px;
height: 350px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 3;
align-self: stretch;
flex-grow: 0;
z-index: 3;


/* instrutor 1 */

width: 400px;
height: 350px;

background: url(instrutor.jpg);
border-radius: 20px;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* instrutor 1 */

width: 400px;
height: 350px;

background: url(instrutor.jpg);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* instrutor 1 */

width: 400px;
height: 350px;

background: url(instrutor.jpg);
border-radius: 20px;
transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* direito-localidade */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 20px;

width: 838px;
height: 750px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* instrutor 1 */

width: 650px;
height: 550px;

background: url(instrutor.jpg);
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 16 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 700px;
height: 74px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Localidade */

width: 278px;
height: 60px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 60px;
/* identical to box height */
display: flex;
align-items: center;

/* apollo-orange */
color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 17 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 406px;
height: 150px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* 📍Avenida dos Corretores, 356 - Jardim Samambaia, Praia Grande - SP, 11712-400 */

width: 346px;
height: 62px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

/* black */
color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* section-planos */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 1920px;
height: 810px;


/* Inside auto layout */
flex: none;
order: 5;
align-self: stretch;
flex-grow: 0;


/* Frame 2 */

position: absolute;
width: 1406px;
height: 1208px;
left: 332px;
top: 76px;

transform: matrix(-1, 0, 0, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;
z-index: 0;


/* Ellipse 1 */

position: absolute;
width: 388px;
height: 378px;
left: 2812px;
top: 514px;

background: #D9D9D9;


/* Ellipse 1 */

position: absolute;
width: 388px;
height: 378px;
left: 915px;
top: -270px;

background: #D9D9D9;


/* Ellipse 1 */

position: absolute;
width: 388px;
height: 378px;
left: 2410px;
top: -81px;

background: #D9D9D9;


/* Ellipse 2 */

position: absolute;
width: 388px;
height: 378px;
left: 1212px;
top: 400px;

background: #D9D9D9;


/* container-planos */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 1320px;
height: 734px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* tela-planos */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 36px;

width: 1320px;
height: 700px;

background: #DEDEDE;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;
z-index: 0;


/* musc */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 250px;
height: 550px;

background: linear-gradient(180deg, #E4E4E4 83.77%, #FFB57E 100%);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 76px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Plano Musculação */

width: 152px;
height: 43px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
/* or 91% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mensal */

width: 77px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: justify;

color: rgba(0, 0, 0, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

width: 210px;
height: 370px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 210px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso à área de Cardio */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avaliação Física Gratuita */

width: 152px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso outras modalidades */

width: 178px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SEM Fidelidade de Plano */

width: 146px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso ao APP NextFit */

width: 132px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 210px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 20px;

width: 210px;
height: 130px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;


/* R$100 */

width: 75px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 30 */

width: 122px;
height: 26px;

/* blue */
background: #04188B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Quero Começar */

position: absolute;
width: 81px;
height: 0px;
left: 20px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FFFFFF;



/* muscu+func */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 250px;
height: 550px;

background: linear-gradient(180deg, #E4E4E4 85.35%, #FFB57E 100%);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Plano Musculação + Funcional */

width: 152px;
height: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
/* or 91% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mensal */

width: 77px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: justify;

color: rgba(0, 0, 0, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

width: 210px;
height: 370px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 210px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso à área de Cardio */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avaliação Física Gratuita */

width: 152px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aulas todos os dias */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SEM Fidelidade de Plano */

width: 146px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso ao APP NextFit */

width: 132px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 210px;
height: 96px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 20px;

width: 210px;
height: 36px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* R$150 */

width: 75px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 30 */

width: 122px;
height: 26px;

/* blue */
background: #04188B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Quero Começar */

position: absolute;
width: 81px;
height: 0px;
left: 20px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FFFFFF;



/* pilates */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 250px;
height: 550px;

background: linear-gradient(180deg, #E4E4E4 84.05%, #FFB57E 100%);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 82px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Plano Pilates */

width: 118px;
height: 45px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
/* or 91% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mensal */

width: 77px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: justify;

color: rgba(0, 0, 0, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 24 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

width: 210px;
height: 370px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 210px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso à área de Cardio */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avaliação Física Gratuita */

width: 152px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aulas todos os dias */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SEM Fidelidade de Plano */

width: 146px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso ao APP NextFit */

width: 132px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
isolation: isolate;

width: 210px;
height: 142px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 20px;

width: 210px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 1;
z-index: 0;


/* R$180 */

width: 75px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plano 2x na Semana */

width: 102px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 28 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 20px;

width: 210px;
height: 58px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 1;
z-index: 1;


/* R$250 */

width: 80px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Plano 3x na Semana */

width: 102px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* ou */

position: absolute;
width: 19px;
height: 19px;
left: 98.4px;
top: 49.5px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 10px;
line-height: 12px;
/* or 120% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;
z-index: 2;


/* Frame 30 */

width: 122px;
height: 26px;

/* blue */
background: #04188B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
z-index: 3;


/* Quero Começar */

position: absolute;
width: 81px;
height: 0px;
left: 20px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FFFFFF;



/* muscu+rit */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 20px;
gap: 10px;

width: 250px;
height: 550px;

background: linear-gradient(180deg, #E4E4E4 84.6%, #FFB57E 100%);
border-radius: 10px;

/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Frame 25 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 210px;
height: 101px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Plano Musculação + Ritmos */

width: 152px;
height: 65px;

font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 22px;
line-height: 20px;
/* or 91% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Mensal */

width: 77px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 20px;
/* identical to box height, or 133% */
text-align: justify;

color: rgba(0, 0, 0, 0.8);


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: center;
padding: 0px;
gap: 15px;

width: 210px;
height: 370px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 29 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

width: 210px;
height: 200px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso à área de Cardio */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Avaliação Física Gratuita */

width: 152px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Aulas todos os dias */

width: 149px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* SEM Fidelidade de Plano */

width: 146px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 26 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: center;
padding: 0px;
gap: 7px;

width: 210px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 4;
flex-grow: 0;


/* Done */

width: 25.26px;
height: 20.33px;

background: url(.png);
transform: matrix(1, 0.01, -0.01, 1, 0, 0);

/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Acesso ao APP NextFit */

width: 132px;
height: 20px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 12px;
line-height: 20px;
/* identical to box height, or 167% */
text-align: justify;

color: #000000;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Frame 13 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 210px;
height: 93px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 27 */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px 5px;
gap: 20px;

width: 210px;
height: 88px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* R$130 */

width: 74px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 25px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FD9649;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Frame 30 */

width: 122px;
height: 26px;

/* blue */
background: #04188B;
border-radius: 20px;

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Quero Começar */

position: absolute;
width: 81px;
height: 0px;
left: 20px;
top: 13px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 10px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

color: #FFFFFF;



/* Frame 31 */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;
gap: 10px;

position: absolute;
width: 904px;
height: 52px;
left: 222px;
top: 0px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;
z-index: 1;


/* Escolha seu Plano Apollo! */

width: 640px;
height: 0px;

font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 50px;
line-height: 0px;
/* identical to box height, or 0% */
text-align: justify;

/* blue */
color: #04188B;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* section-footer */

/* Auto layout */
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
padding: 0px;

width: 1920px;
height: 655px;

/* blue */
background: #04188B;

/* Inside auto layout */
flex: none;
order: 6;
align-self: stretch;
flex-grow: 0;


/* container-footer */

/* Auto layout */
display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 0px;

width: 1466px;
height: 385px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* frame-saiba */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 20px 0px 10px;
gap: 20px;

width: 359px;
height: 385px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Saiba Mais */

width: 323px;
height: 43px;

/* poppins-large */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Trabalhe Conosco */

width: 329px;
height: 16px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Sobre nós */

width: 88px;
height: 23px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Nosso Espaço */

width: 474.26px;
height: 50.63px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* frame-veja */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 20px 0px 10px;
gap: 20px;

width: 359px;
height: 385px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Veja Também */

width: 323px;
height: 43px;

/* poppins-large */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Planos */

width: 328px;
height: 29px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Eventos com a Comunidade */

width: 474.26px;
height: 50.63px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* frame-contato */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px 20px 0px 0px;
gap: 30px;

width: 561px;
height: 385px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Entre em Contato com a Apollo! */

width: 541px;
height: 43px;

/* poppins-large */
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 32px;
line-height: 48px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 14 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-end;
padding: 0px;
gap: 10px;

width: 109px;
height: 30px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* WhatsApp */

width: 30px;
height: 30px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Instagram */

width: 30px;
height: 30px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Facebook */

width: 30px;
height: 30px;

background: url(.png);

/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* 📍Avenida dos Corretores, 356 - Jardim Samambaia, Praia Grande - SP, 11712-400 */

width: 517px;
height: 37px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* contatoapolloacademia@gmail.com */

width: 474px;
height: 24px;

/* poppins-medium */
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */
text-align: justify;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;
